<div class="error">
 <ul class="errors-list" >
 
  <% if(errs.message){ %>
  <li><%=  errs.message %></li>
  <% } %>

  <% if(errs.email) { %>
  <li><%=  errs.email %></li>
  <% } %>

 </ul>
</div>

  <form action="/contact" method="post" novalidate>
   <div class="form-header">
    <h2>Contact Us</h2>
   </div>

   <div class="form-field">
     <label for="message">Message</label>
     <textarea class="input" name="message"></textarea>
   </div>

   <div class="form-field">
     <label for="email">Email:</label>
     <input class="input" type="text" name="email" value="" />
   </div>

   
   <input class="input btn form-actions" type="submit" value="Send" />
   

  </form>
